@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  @apply bg-[#F9F9F9] text-[#111111] min-h-screen antialiased selection:bg-black selection:text-white;
  font-family: var(--font-sans);
  background-image: radial-gradient(#E5E5E5 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Zen Scrollbar - Almost invisible */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
